/* 
    Author: Vijay Thapa;
    Theme: Restaurant Food Order;
    version: 1.0;
*/


/* CSS for all */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.clearfix{
    clear: both;
    float: none;
}
.tbl-full {
    width: 100%;
}
table tr th {
    border-bottom: 1px solid black;
    padding: 1%;
}
table tr td {   
    padding: 1%;
}
.btn-primary {
    background-color: #3742fa;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover {
    background-color: #1e90ff;
}
.btn-secondary {
    background-color: #00ff2a;
    padding: 3%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover {
    background-color: #05ca26;
}
.btn-danger {
    background-color: #ff0000;
    padding: 3%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover {
    background-color: #ca0000;
}


/* CSS for Menu */
.menu {
    border-bottom: 1px solid grey;
}
.menu ul {
    list-style-type: none;
}
.menu ul li {
    display: inline;
    padding: 1%;
}
.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #ff6b81;
}
.menu ul li a:hover {   
    color: #ff4757;
}


/* CSS for Main Content */
.main-content {
    background-color: #f1f2f6;
    padding: 3% 0;
}
.col-4 {
    width: 20%;
    background-color: white;
    margin: 1%;
    padding: 1%;
    float: left;
}


/* CSS for Footer */
.footer {
    background-color: #ff4757;
    color: white;
}